{% extends 'base.html' %}

{% block title %}Blog List{% endblock %}

{% block content %}
<div class="row">
    {% for blog in page_obj %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if blog.image %}
                    <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></h5>
                    <p class="card-text">{{ blog.content|truncatewords:5 }}</p>
                    <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
