{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 style="text-align: center;">{{ blog.title }}</h1>
    {% if blog.image %}
    <div class="blog-image">
        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" height="400" width="800">
    </div>
    {% endif %}
    <p>{{ blog.content }}</p>
    <p>Tags: {% for tag in blog.tags.all %} {{ tag.name }} {% endfor %}</p>

    <div class="comments-section">
        <h2>Comments</h2>
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-content">
                <p><i>{{ comment.content }}</i></p>
            </div>
            <div class="comment-actions">
                <p class="likes-count"><b>{{ comment.likes }}</b> Likes</p>
                {% if request.user.is_authenticated %}
                <form action="{% url 'like_comment' comment.id %}" method="post">
                    {% csrf_token %}
                    {% if comment.liked_by_user %}
                    <button type="submit" class="btn-unlike"><i class="fas fa-thumbs-down"></i> Unlike</button>
                    {% else %}
                    <button type="submit" class="btn-like"><i class="fas fa-thumbs-up"></i> Like</button>
                    {% endif %}
                </form>
                {% endif %}
            </div>
            <hr class="my-4">
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div>
    <form action="{% url 'add_comment' blog.slug %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <textarea name="content" placeholder="Add a comment"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}